<% include partials/header %>

<h1>Home</h1>

<p><%=display_content%></p>

<%blogs.forEach(function(blog){%>

<h1><%=blog.post_title%></h1>
<% let truncated_post = blog.post_body.substring(0, 100) %>
<p><%= truncated_post + " ..."%><a href = "/posts/<%=blog._id%>">Read More</a></p>

<%})%>

<script src = 'public/index.js'></script>
 
<% include partials/footer %>